$yellow: #cacf68;
$yellow-light: #dde0ab;
$green: #97cba9;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;

  .book {
    max-width: 70%;
    padding: 50px;

    &-cover {
      width: 250px;
      height: 400px;
      object-fit: cover;
      border: 10px solid $green;
    }

    h1,
    p {
      margin: 0 0 25px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .translation-control,
  .collapse-btn {
    margin-bottom: 50px;
  }

  button {
    line-height: 50px;
    padding: 0 50px;
    text-transform: uppercase;
    border: none;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: $yellow;
    }
  }

  .book,
  button {
    background: $yellow-light;
    box-shadow: 10px 10px 0px 0px $green;
  }
}
