<div class="wrapper">
  <div class="buttons">
    <button (click)="selectLanguage('en-US')" class="collapse-btn">{{ 'language.english' | translate }}</button>
    <button (click)="selectLanguage('uk_UA')" class="collapse-btn">{{ 'language.ukrainian' | translate }}</button>
  </div>
  <div class="book" *ngIf="book">
    <h1>{{ book.Title }}</h1>
    <p>{{ 'author' | translate }}: {{ book.Author }}</p>
    <p>{{ 'country' | translate }}: {{ book.Country }}</p>
  </div>
  <button (click)="getRandomBook()" class="collapse-btn">{{ 'button' | translate }}</button>
</div>
